<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{fragments/main_layout}" >
<head>
 <title>About Page</title>
</head>
<body>

   <div  layout:fragment="content" class="container mySpace">
         <div class="jumbotron">
  <h1 class="display-3">Hi, </h1>
  <p class="lead">TaskFinder, is a simple and effective marketplace for trades people to view and secure any additional work they may wish to do. All you have to do is simply register as a bidder which will then allow you to view and make offers on the entirety of our vendors posts, which all represent work opportunities.</p>
  <hr class="my-4">
 <!--   <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <p class="lead"> -->
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>
</div>
     </div> 
</body>
</html>