<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/main_layout}">
<head>
<title>Offers</title>
</head>
<body>



	<div layout:fragment="content" class="container mySpace">
		<div class="card">
			<div class="card card-body">
				<table class="table table-hover">
					<thead>
						<tr>
							
							<th>Made By</th>
							<th></th>
							<th>Amount</th>
							<th></th>
							  
							
						
						</tr>
					</thead>
					<tbody>
					<!-- <input type="hidden" name="id" th:value="${offer.id}"/>  -->
						<tr th:each="offer:${offers}">
							
				  	
							
							 <td th:text="${offer.user.email}"></td>
							 <td><a  th:href="@{/workerProfile(email=${offer.user.email})}"class="btn btn-dark" >View Worker <i class="fas fa-person-booth"></i></a></td>
							 <td th:text="${offer.amount}"></td> 
							<td><a  th:href="@{/acceptedOffer(id=${offer.id})}"class="btn btn-dark" > Accept <i class="fas fa-comment-dollar"></i></a></td>
								
							
						 
						
						</tr>
					</tbody>

				</table>
			</div>
		</div>
	</div>
	
</body>
</html>