<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{fragments/main_layout}" >
<head>
<title>Home Page</title>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
	integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
	integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
	crossorigin="anonymous"></script>
<script type="text/javascript" src="js/mdb.min.js"></script>
 
 
</head>
<body>

  <div  layout:fragment="content" class="container mySpace">
 
 
  
  
  <div class="jumbotron">
  <h1 class="display-3">Hi, </h1>
  <p class="lead">TaskFinder, is a simple and effective marketplace for trades people to view and secure any additional work they may wish to do. All you have to do is simply register as a bidder which will then allow you to view and make offers on the entirety of our vendors posts, which all represent work opportunities.</p>
  <hr class="my-4">
 <!--   <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <p class="lead"> -->
   
  </p>
</div>
     </div> 




   
  

</body>
</html>